/* From Uiverse.io by Mhyar-nsi */ 
.button {
  background-color: #f3f7fe;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
  font-weight: bold;
  font-family: system-ui;
  height: 35px;
  line-height: 1;
  margin-left: 10px;
}