.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #111827; /* Dark gray */
}

.description {
  font-size: 0.875rem;
  color: #6b7280; /* Gray */
}

.fares {
  font-size: 1rem;
  font-weight: bold;
  color: #10b981; /* Green */
}

.imageWrapper {
  flex-shrink: 0;
  width: 100px; /* Fixed width for the image */
  height: 100px; /* Fixed height for the image */
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.permitBtn {
  /* background-color: #002d59; */
  color: #343A40;
  padding: 1rem 2rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  font-size: 1.0rem;
  margin-bottom: 100%;
}

.permitBtn:hover {
  background-color: #4338ca;
}